<section>
  <%= render 'shared/user', user: @user %>
</section>
<section>
  <% @posts.each do |post| %>
    <%= render 'shared/post', post: post %>
    <div class="card mt-2">
      <div class="card-body">
        <%= render partial: 'shared/comment', collection: post.recent_comments %>
      </div>
    </div>
  <% end %>
</section>